= form_for @task, url: project_task_path(project_id: @project) do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @task.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :content
    = f.text_field :content
  .field
    = f.label :planed_time
    = f.number_field :planed_time
  .field
    = f.label :user
    = f.collection_select :user_id, User.all, :id, :name
  .actions
    = f.submit '作成する', {class: "btn btn-large btn-primary"}
