%tr
  %td
    = feed_item.content
  %td
    = feed_item.status_for_display
    - if feed_item.not_started?
      = link_to "開始", project_task_start_path(@project, feed_item), method: :start, class: "btn btn-primary btn-sm"
    - if feed_item.working?
      = link_to "完了", project_task_finish_path(@project, feed_item), method: :finish, class: "btn btn-primary btn-sm"
  %td
    = link_to "削除", project_task_path(@project, feed_item), method: :delete, data: { confirm: "本当に削除しますか？" }, title: feed_item.content, class: "btn btn-primary btn-sm"
  %td
  %td
  %td
  %td
  %td
  %td
  %td
  %td
  %td
  %td
