%p
  %b= @project.name
  (
  = link_to "編集", edit_project_path(@project)
  \|
  = link_to "戻る", projects_path
  )

  = link_to "自動計算", calculate_project_task_path(@project), { method: "post", class: "btn btn-primary pull-right" }


- if @feed_items.any?
  .scroll_range
    %table.table.table-bordered{id: "task_table"}
      %thead
        %tr
          %th.content
            = "内容"
          %th.user
            = "担当者"
          %th.planed_time
            = "予定"
          %th.status
          - (@project.start_date..(@project.start_date + 60)).select{ |d| (1..5).include?(d.wday) }.each do |d|
            %th.day
              = d.strftime("%d")
      %tbody.sortable
        - @feed_items.each do |feed_item|
          %tr{ class: "#{'success' if feed_item.working? }" "#{'active' if feed_item.done? }", data: {"task-id": feed_item.id } }
            %td
              = link_to feed_item.content, edit_project_task_path(@project, feed_item)
            %td
              = feed_item.user.name
            %td
              %input.planed_time{ type: "text", value: feed_item.planed_time }
            %td.status
              -if feed_item.not_started?
                = link_to "開始", project_task_start_path(@project, feed_item), method: :start, class: "btn btn-primary btn-sm"
              -elsif feed_item.working?
                = link_to "完了", project_task_finish_path(@project, feed_item), method: :finish, class: "btn btn-primary btn-sm"
              -else
                済
            - (@project.start_date..(@project.start_date + 60)).select{ |d| (1..5).include?(d.wday) }.each do |d|
              %td
                = feed_item.dailies.find_by(the_date: d).try(:planed_time)
                = feed_item.dailies.find_by(the_date: d).try(:actual_time)
        %tr
          = form_for @task, url: project_tasks_path(@project) do |f|
            %td
              = f.text_field :content
            %td
            %td
              = f.number_field :planed_time
            %td
              .actions
                = f.submit '追加', { class: "btn btn-primary btn-sm" }

