%p
  %b= @project.name
  (
  = link_to "編集", edit_project_path(@project)
  \|
  = link_to "戻る", projects_path
  )
.clearfix
  = link_to "自動計算", calculate_project_task_path(@project), { method: "post", class: "btn btn-primary pull-right" }

%ul.nav.nav-tabs
  %li.active
    = link_to "予定", "#planed", { data: { toggle: "tab" }, class: "planed_tab" }
  %li
    = link_to "実績", "#actual", { data: { toggle: "tab" }, class: "actual_tab" }
  %li
    = link_to "予実差", "#diff", { data: { toggle: "tab" }, class: "diff_tab" }

- if @feed_items.any?
  .tab-content
    .tab-pane.active
      .scroll_range
        %table.table.table-bordered.task_table
          %thead
            %tr
              %th.title
                = "件名"
              %th.user
                = "担当者"
              %th.time
                = "時間"
              %th.status
              - @project.term.each do |d|
                %th.day<>
                  = d.strftime("%d")
                  %br<>
                  = d.youbi
          %tbody.sortable
            - @feed_items.each do |feed_item|
              %tr{ class: "task_row #{'success' if feed_item.working? }" "#{'active' if feed_item.done? }", data: {"task-id": feed_item.id } }
                %td.feed_item_title
                  %label.feed_item_label
                    = feed_item.title
                %td
                  = collection_select :task, :user, User.all, :id, :name, { selected: feed_item.user.id }, class: "select_user_field"
                %td.time
                  %input.time_field.planed{ type: "text", value: feed_item.planed_time }
                  .actual
                    = feed_item.actual_time
                %td.status
                  -if feed_item.not_started?
                    = link_to "開始", project_task_start_path(@project, feed_item), method: :start, class: "btn btn-primary btn-sm"
                  -elsif feed_item.working?
                    = link_to "完了", project_task_finish_path(@project, feed_item), method: :finish, class: "btn btn-primary btn-sm"
                  -else
                    済
                - @project.term.each do |d|
                  %td.day
                    .planed
                      = feed_item.dailies.find_by(the_date: d).try(:planed_time)
                    %input.time_field.actual{ type: "text", value: feed_item.dailies.find_by(the_date: d).try(:actual_time) }
                    .diff
                      = diff(feed_item.dailies.find_by(the_date: d))
